.app {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}


#root {
  height: 100%;
}


.map{
  height: 100%;
}

.message-form {
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 280px;
  height: 600px;
  text-align: center;
  font-size: 1rem;
  color: #4aa1f3;
  overflow: scroll;
}

.title {
  font-weight: bold;
  font-size: xx-large;
}

.select-option {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
}

.multi-select {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
}

.select-area {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
}

.popupImage {
  width: 60%;
  height: 60%;
}

